#slider{
	position: relative;
	width: 500px;
	height: 280px;
}

#tabs{
	width: 68px;
	height: 24px;
	position: absolute;
	z-index: 500;
	left: 50%;
	bottom: 10px;
	margin-left: -34px; 
}

#tabs li{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: green;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;

	cursor: default;
}

#tabs li:active,
#tabs li.active{
	background-color: darkgray;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#content{
	width: 500px;
	position: relative;
}

#content li{
	width: 100%;
	height: 280px;
 	position: absolute;
 	display: none;
 	overflow: hidden;	
}

#content li.active{
	display: block;
}

#content li img{
	width: 100%;
}
